@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'BarlowCondensed';
  src: url('assets/BarlowCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Estilos que cambian dependiendo de el modo del boton */
:root[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

:root[data-theme='dark'] {
  --bg-color: #212121;
  --text-color: #f1f1f1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'BarlowCondensed';

  .alerts {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    padding: 1rem;
  }
}