<app-navbar-user (emitFilter)="this.filterDocuments($event)"></app-navbar-user>

<div class="div-gen-user">
    <section class="container">
        @if (this.documents.length > 0) {
        <div class="row gx-4 gy-5">
            @for (doc of documentsFiltered; track doc.id_document; let i = $index) {

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card__">
                    @switch (doc.file_type.split('/')[doc.file_type.split('/').length - 1]) {
                        @case ('pdf') {
                            <img src="pdf.png" alt="PDF">
                        }
                        @case ('zip') {
                            <img src="zip.png" alt="ZIP">
                        }
                        @case ('docx') {
                            <img src="docx.png" alt="DOCX">   
                        }
                        @case ('sheet') {
                            <img src="xlsx.png" alt="XLSX">   
                        }
                        @default {
                            <img src="other.png" alt="DOCUMENT">   
                        }
                    }
                    <div class="card__content">
                        <p class="card__title">{{ doc.file_name }}</p>
                        <p class="card__description">{{ doc.file_category }}</p>
                        <p class="small mb-0">
                            Subido por: {{ doc.username }}
                        </p>
                        <p class="small">
                            {{ doc.uploaded_at | date: 'shortDate' }}
                        </p>
                    </div>
                </div>

                <div class="container_butt">
                    <label class="label">
                        <input type="checkbox" class="input" />
                        <span class="circle">
                            <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" d="M12 19V5m0 14-4-4m4 4 4-4"></path>
                            </svg>
                            <div class="square"></div>
                        </span>
                        <p class="title">Download</p>
                        <p class="title">Open</p>
                    </label>
                </div>
            </div>



            }
        </div>
        } @else {
        <div class="alert alert-warning text-center" role="alert">
            No se encontraron documentos.
        </div>
        }
    </section>
</div>